.prueba {
  color: white;
}
.main {
  background-repeat: no-repeat;
  background-image: url("https://png.pngtree.com/background/20230612/original/pngtree-beautiful-cartoon-forest-scene-animated-wallpaper-hd-picture-image_3179942.jpg") !important;
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.colorpika{
  color: white;
  font-size: x-large;
}

.tama{
  width: 50% ;
  height: 50%;
}

/* h1{
    margin: 0%;
} */
